<!DOCTYPE html>
<html>
<head>
<title>Company Chat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>

<div class="app">

<!-- SIDEBAR -->
<div class="sidebar">

<div class="logo">🏢 CompanyChat</div>

<div class="user-box">
<img src="{{ url_for('static', filename='default.png') }}" class="avatar">
<span>{{ username }}</span>
{% if role == "admin" %}
<span class="admin-badge">ADMIN</span>
{% endif %}
</div>

<input type="text" id="searchUser" placeholder="Search chat...">

<h4>🟢 Online</h4>
<div id="onlineUsers"></div>

<h4>Private</h4>
{% for user in users %}
<a href="/dm/{{ user }}">{{ user }}</a>
{% endfor %}

<h4>Departments</h4>
{% for group in groups %}
<a href="/group/{{ group }}">{{ group }}</a>
{% endfor %}

{% if role == "admin" %}
<a href="/admin">👑 Admin Panel</a>
<a href="/monitor">📊 Monitor</a>
{% endif %}

<button onclick="toggleTheme()">🌙 Toggle Mode</button>
<a href="/logout" class="logout">Logout</a>

</div>

<!-- MAIN -->
<div class="main">
<div class="center-box">
<h2>Welcome {{ username }}</h2>
<p>Select a chat from sidebar</p>
</div>
</div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>