<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="auth-body">

<div class="auth-box">
<h2>Create Account</h2>

{% if error %}
<div class="alert error">
    {{ error }}
</div>
{% endif %}

<form method="POST">
<input type="text" name="username"
       value="{{ request.form.username or '' }}"
       placeholder="Username" required>

<input type="email" name="email"
       value="{{ request.form.email or '' }}"
       placeholder="Email" required>

<div class="password-box">
<input type="password" id="password" name="password"
       placeholder="Password" required>
<span onclick="toggle()">👁</span>
</div>

<button type="submit">Register</button>
</form>

<p><a href="{{ url_for('login') }}">Already have account?</a></p>
</div>

<script>
function toggle(){
let p=document.getElementById("password");
p.type=p.type==="password"?"text":"password";
}
</script>

</body>
</html>